# .env.example
# Este archivo es un ejemplo. Crea un .env.local con tus credenciales reales.
MONGODB_USER="your-db-user"
MONGODB_PASSWORD="your-db-password"
MONGODB_CLUSTER_URL="cluster0.t6cgbnp.mongodb.net" # e.g., cluster0.xxxxx.mongodb.net
MONGODB_DB_NAME="grace-hub"
